@charset "UTF-8";
.row:after, .clearfix:after {
  content: "";
  clear: both;
  display: table; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #F1F1F1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759B;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/**
 * Clear Fix
 *
 * @link http://nicolasgallagher.com/micro-clearfix-hack/
 */
.gallery,
.cf {
  *zoom: 1; }
  .gallery:before, .gallery:after,
  .cf:before,
  .cf:after {
    content: " ";
    display: table; }
  .gallery:after,
  .cf:after {
    clear: both; }

/**
 * Gallery Shortcode
 *
 * @source https://gist.github.com/widoz/73df4f766789c9c4b1d1
 * @since Wp 3.9
 */
.gallery {
  margin-left: -0.375em;
  margin-right: -0.375em; }
  .gallery-item {
    margin: 0;
    float: left;
    padding: 0.375em; }
    .gallery-item img {
      width: 100%; }
  .gallery-columns-1 .gallery-item {
    width: 100%;
    float: none; }
  .gallery-columns-2 .gallery-item {
    width: 50%; }
  .gallery-columns-3 .gallery-item {
    width: 33.3333%; }
  .gallery-columns-4 .gallery-item {
    width: 25%; }
  .gallery-columns-5 .gallery-item {
    width: 20%; }
  .gallery-columns-6 .gallery-item {
    width: 16.6667%; }
  .gallery-columns-7 .gallery-item {
    width: 14.2857%; }
  .gallery-columns-8 .gallery-item {
    width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    width: 11.1111%; }
  .gallery-columns-2 .gallery-item:nth-child(2n+1),
  .gallery-columns-3 .gallery-item:nth-child(3n+1),
  .gallery-columns-4 .gallery-item:nth-child(4n+1),
  .gallery-columns-5 .gallery-item:nth-child(5n+1),
  .gallery-columns-6 .gallery-item:nth-child(6n+1),
  .gallery-columns-7 .gallery-item:nth-child(7n+1),
  .gallery-columns-8 .gallery-item:nth-child(8n+1),
  .gallery-columns-9 .gallery-item:nth-child(9n+1) {
    clear: left; }

blockquote {
  quotes: "“" "”" "‘" "’"; }

blockquote:before {
  color: #ddd;
  content: open-quote;
  font-size: 4em;
  line-height: 0;
  vertical-align: -0.3em;
  margin-left: -0.5em; }

blockquote p {
  display: inline;
  font-style: italic;
  margin-top: 0; }

blockquote footer {
  color: #666666; }

img {
  max-width: 100%; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  color: #737373; }

a {
  color: #0075e2; }

h1, h2, h3, h4, h5, h6 {
  color: #000; }

.row {
  margin: 0 -8px; }

.col-1 {
  width: 8.33333%;
  float: left;
  padding: 8px; }

.col-2 {
  width: 16.66667%;
  float: left;
  padding: 8px; }

.col-3 {
  width: 25%;
  float: left;
  padding: 8px; }

.col-4 {
  width: 33.33333%;
  float: left;
  padding: 8px; }

.col-5 {
  width: 41.66667%;
  float: left;
  padding: 8px; }

.col-6 {
  width: 50%;
  float: left;
  padding: 8px; }

.col-7 {
  width: 58.33333%;
  float: left;
  padding: 8px; }

.col-8 {
  width: 66.66667%;
  float: left;
  padding: 8px; }

.col-9 {
  width: 75%;
  float: left;
  padding: 8px; }

.col-10 {
  width: 83.33333%;
  float: left;
  padding: 8px; }

.col-11 {
  width: 91.66667%;
  float: left;
  padding: 8px; }

.col-12 {
  width: 100%;
  float: left;
  padding: 8px; }

.container {
  max-width: 1280px;
  margin: 0 auto; }

.section {
  padding-left: 8.33333%;
  padding-bottom: 100px; }

.header {
  padding: 10px 0;
  margin-bottom: 16px; }

.header__title {
  margin: 0;
  margin-bottom: 16px; }

.header__strip:after {
  content: '';
  height: 0;
  width: 100px;
  display: block;
  border-top: 2px solid red;
  margin-left: -115px;
  position: relative;
  top: -8px; }

.header__subtitle {
  color: #737373; }

.element {
  display: flex;
  padding: 10px 0; }

a.element {
  text-decoration: none; }

.element__content {
  padding: 10px;
  flex-grow: 1;
  align-self: center; }

.element__description {
  color: #737373; }

.element__icon > img {
  display: block; }

.external-note {
  padding: 10px; }

.external-note p {
  margin: 0 0; }

.blue-button {
  background-color: #005eb5;
  color: #fff;
  padding: 10px;
  display: block;
  margin: 10px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600; }

.top-bar__gov-pl {
  float: right;
  color: #1a1a1a;
  font-weight: bolder;
  font-size: 1.5rem;
  text-decoration: none;
  height: 36px;
  padding: 10px;
  line-height: 1.5rem; }

.top-bar__welcome {
  color: #737373;
  font-size: 1rem;
  margin: 0;
  height: 36px;
  padding: 10px 10px;
  line-height: 1.5rem; }

.logo-bar__logo {
  position: relative;
  float: right; }
  .logo-bar__logo img {
    max-height: 120px;
    max-width: none;
    height: 10vw; }

.logo-bar__header {
  padding: 10px 10px; }
  .logo-bar__header a {
    text-decoration: none;
    color: black; }
  .logo-bar__header p {
    margin: 8px 8px; }

.navbar__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 8.33333%; }
  .navbar__menu li {
    display: inline-block; }

.navbar__menu a {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  margin-left: 0;
  padding-right: 0;
  margin-right: 20px;
  font-size: 1.25em; }
  .navbar__menu a:first-child {
    padding-left: 0; }
  .navbar__menu a:hover, .navbar__menu a:focus {
    border-bottom: 2px solid #0075e2; }
  .navbar__menu a.active {
    border-bottom: 2px solid red; }

.navbar__search {
  float: right;
  width: 300px; }

.search-form {
  padding: 20px 10px;
  display: table;
  width: 100%;
  table-layout: fixed; }
  .search-form label {
    display: table-cell; }

.search-field,
.search-submit {
  line-height: 27px;
  border: 1px solid black;
  vertical-align: middle;
  padding-bottom: 1px; }

.search-field {
  width: 100%;
  background-color: white;
  font-size: 1em;
  color: black;
  line-height: 27px;
  border: 1px solid black; }

.search-submit {
  display: table-cell;
  width: 90px;
  background-color: white;
  margin-left: 5px;
  transition: 0.2s background-color; }
  .search-submit:hover, .search-submit:focus {
    background-color: gray; }

.site-footer {
  font-size: 0.8em;
  padding-bottom: 0; }
  .site-footer a {
    color: #737373; }
  .site-footer img {
    vertical-align: middle;
    padding: 10px;
    height: 8em; }

.authorship {
  text-align: center; }

.contact-section {
  background-color: #e2e2e2;
  background-image: url("https://www.gov.pl/documents/31305/0/stopka_1366px.png/f6c910ff-010f-a6b2-874d-45b0c58c2b66?t=1504268063080");
  background-position: right top;
  color: #000; }
  .contact-section .header__strip:after {
    border-top-color: #000; }

a.article {
  text-decoration: none; }

.article__excerpt {
  font-weight: bolder; }

.article {
  min-height: 300px;
  position: relative; }

.article__cover {
  width: 100%; }

.article__meta {
  padding: 10px; }

.article__title {
  margin: 0; }

.article__content {
  padding: 0; }

.article__navigation {
  padding: 20px 0; }

.article__metrics {
  position: absolute;
  bottom: 0; }
  .article__metrics span {
    display: block; }

.wp-caption {
  color: #777;
  background-color: #F3F3F3;
  border: 1px solid #DDD;
  padding: 10px;
  max-width: 100%; }

.wp-caption-text, .wp-caption {
  margin-top: 12px;
  text-align: center;
  margin-bottom: 12px; }

.post-index {
  display: flex;
  padding: 10px 0; }

a.post-index {
  text-decoration: none; }

.post-index__excerpt {
  font-weight: bolder; }

.post-index__icon {
  width: 150px; }

.post-index__thumbnail {
  width: 100%; }

.post-index__title {
  margin: 0 0; }

.post-index__meta {
  padding: 10px 0px; }

.post-index__content {
  padding: 0 10px;
  flex: 1; }

.post-index__metrics {
  bottom: 0; }

.comment-form label {
  padding: 10px 0;
  display: block; }

.comment-form input {
  line-height: 27px; }

.comment-form input,
.comment-form textarea {
  background-color: white;
  color: black;
  border: 1px solid black; }

.comment-form input:focus,
.comment-form textarea:focus {
  color: #000; }

.comment-form input[type=submit]:hover, .comment-form input[type=submit]:focus {
  background-color: gray; }

.comment-form textarea {
  width: 100%; }

.comment-form .required {
  color: #ff0000; }

.comment-list {
  list-style: none;
  padding-left: 0; }
  .comment-list .comment, .comment-list .pingpack {
    padding: 10px 60px;
    border-style: solid;
    border-color: #cacaca;
    border-width: 0px 1px; }
  .comment-list .comment-body {
    color: #737373;
    border-bottom-width: 1px;
    border-bottom-color: green; }
  .comment-list .even {
    background-color: #f0f0f0; }
  .comment-list .odd {
    background-color: #fff; }
  .comment-list .comment-meta {
    position: relative; }
    .comment-list .comment-meta .comment-author img {
      position: absolute;
      left: -42px;
      top: 0; }
    .comment-list .comment-meta .says {
      display: none; }
    .comment-list .comment-meta .edit-link {
      display: none; }
  .comment-list .children {
    padding-top: 25px;
    margin-top: 5px;
    padding-left: 0;
    list-style: none; }

.navigation .nav-previous {
  float: left; }

.navigation .nav-next {
  float: right;
  text-align: right; }

.navigation .nav-next, .navigation .nav-previous {
  width: 40%; }
  .navigation .nav-next .label, .navigation .nav-previous .label {
    display: block; }
