.row {
  @extend %clearfix;
  margin: 0 -8px;
}

.clearfix {
  @extend %clearfix;
}

@mixin make-columns($prefix, $columns) {
  @for $i from 1 through $columns {
    .#{$prefix}#{$i} {
      width: percentage($i / $columns);
      float: left;
      padding: 8px;
    }
  }
}


$xxs-media: "min-width: 480px";
$xs-media: "only screen and (min-width: 576px)";
$sm-media: "only screen and (min-width: 768px)";
$md-media: "only screen and (min-width: 992px)";
$lg-media: "only screen and (min-width: 1200px)";
$xs-media-max: "only screen and (max-width: 576px)";
$sm-media-max: "only screen and (max-width: 768px)";
$md-media-max: "only screen and (max-width: 992px)";
$lg-media-max: "only screen and (max-width: 1200px)";

@include make-columns('col-xxs-', 12);

@media #{$xs-media} {
  @include make-columns('col-xs-', 12);
}

@media #{$sm-media} {
  @include make-columns('col-sm-', 12);
}

@media #{$md-media} {
  @include make-columns('col-md-', 12);
}

@media #{$lg-media} {
  @include make-columns('col-lg-', 12);
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}