@import 'wp-screen-reader-text';
@import 'elementary';
* {
  //outline: 1px solid red;
}
*, *:before, *:after {
  box-sizing: border-box;
}

%clearfix {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: #737373;
}
a {
  color: #0075e2;
}
h1, h2, h3, h4, h5,h6{
  color: #000;
}

// Grid system
.row {
  @extend %clearfix;
  margin: 0 -8px;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: percentage($i/12);
    float: left;
    padding: 8px;
  }
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}

.section {
  padding-left: percentage(1/12);
  padding-bottom: 100px;
}

.header {
  padding: 10px 0;
  margin-bottom: 16px;
}

.header__title {
  margin: 0;
  margin-bottom: 16px;
}

.header__strip {
  &:after {
    content: '';
    height: 0;
    width: 100px;
    display: block;
    border-top: 2px solid red;
    margin-left: -120px;
    position: relative;
    top: -8px;
  }
}

.header__subtitle {
  color: #737373;
}

.element {
  display: flex;
  padding: 10px 0;
}
a.element {
  text-decoration: none;
}
.element__content {
  padding: 10px;
  flex-grow: 1;
  align-self: center;
}

.element__description {
  color: #737373;
}

.element__icon > img {
  display: block;
}

.external-note {
  padding: 10px;
}
.external-note p {
  margin: 0 0;
}

.blue-button {
  background-color: #005eb5;
  color: #fff;
  padding: 10px;
  display: block;
  margin: 10px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}
.top-bar__gov-pl {
  float: right;
  color: #1a1a1a;
  font-weight: bolder;
  font-size: 1.5rem;
  text-decoration: none;
  height: 56px - 20px;
  padding: 10px;
  line-height: 1.5rem;
}
.top-bar__welcome {
  color: #737373;
  font-size: 1rem;
  margin: 0;
  height: 56px - 20px;
  padding: 10px 10px;
  line-height: 1.5rem;
}

.logo-bar__logo {
  position: relative;
  float: right;
  img {
    max-height: 120px;
    max-width: none;
    height: 10vw;

  }
}

.logo-bar__header {
  padding: 10px 10px;

  a {
    text-decoration: none;
    color: black;
  }
  p {
    margin: 8px 8px;
  }
}

.navbar__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: percentage(1/12);

  li {
    display: inline-block;
  }
}
.navbar__menu a {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  margin-left: 0;
  padding-right: 0;
  margin-right: 20px;
  font-size: 1.25em;
  &:first-child {
    padding-left: 0;
  }
  &:hover,
  &:focus {
    border-bottom: 2px solid #0075e2;
  }
  &.active {
    border-bottom: 2px solid red;
  }
}

.navbar__search {
  float: right;
  width: 300px;
}
.search-form {
  padding: 20px 10px;
  display: table;
  width: 100%;
  table-layout: fixed;
  label {
    display: table-cell;
  }
}

.search-field,
.search-submit {
  line-height: 27px;
  border: 1px solid black;
  vertical-align: middle;
  padding-bottom: 1px;
}
.search-field {
  width: 100%;
  background-color: white;
  font-size: 1em;
  color: black;
  line-height: 27px;
  border: 1px solid black;
}
.search-submit {
  display: table-cell;
  width: 90px;
  background-color: white;
  margin-left: 5px;
  transition: 0.2s background-color;
  &:hover,
  &:focus {
    background-color: gray;
  }
}

.site-footer {
  font-size: 0.8em;
  padding-bottom: 0;
  a {
    color: #737373;
  }
  img {
    vertical-align: middle;
    padding: 10px;
    height: 8em;
  }
}
.authorship {
  text-align: center;

}

// single article - single post on single /  archive pages
a.article {
  text-decoration: none;
}
.article__excerpt {
  font-weight: bolder;

}

.article__cover {
  width: 100%;
}

.article__meta {
  padding: 10px;
}

.article__title {
  margin: 0;
}
.article__content {
  padding: 0;
}

.article__metrics {
  //position: absolute;
  bottom: 0;
  span {
    display: block;
  }
}

//
.wp-caption {
  color: #777;
  background-color: #F3F3F3;
  border: 1px solid #DDD;
  padding: 10px;
  max-width: 100%;
}
.wp-caption-text, .wp-caption {
  margin-top: 12px;
  text-align: center;
  margin-bottom: 12px;
}
// post-index - section on home page with cover which list posts
.post-index {
  display: flex;
  padding: 10px 0;
}
a.post-index {
  text-decoration: none;
}
.post-index__excerpt {
  font-weight: bolder;

}

.post-index__thumbnail {
  width: 100%;
}

.post-index__title {
  margin: 0 0;
}
.post-index__meta {
  padding: 10px 0px;
}

.post-index__content {
  padding: 0 10px;

}
.post-index__metrics {
  //position: absolute;
  bottom: 0;
}

// comment-form - form below single post to add comment
.comment-form {
  & label {
    padding: 10px 0;
    display: block;
  }
  input {
    line-height: 27px;
  }
  input,
  textarea {
    background-color: white;
    color: black;
    border: 1px solid black;

  }
  input:focus,
  textarea:focus {
    color: #000;
  }
  input[type=submit]{
    &:hover,
    &:focus {
      background-color: gray;
    }
  }
  textarea {
    width: 100%;
  }
  .required {
    color: #ff0000;
  }
}

// comment-form - nested list of comment below single post
$light_comment: 10px;
.comment-list {
  // TODO: Too little light in section? Increase paddings?
  list-style: none;
  padding-left: 0;

  .comment-body{
    color: #737373;
    padding-left: 40px + $light_comment + $light_comment;
    padding-top: $light_comment;
    border-bottom-width: 1px;
    border-bottom-color: green;
  }
  .comment.even {
    background-color: #f0f0f0;
  }
  .comment.odd {
    background-color: #fff;
  }
  .comment-meta {
    position: relative;
    .comment-author img {
      position: absolute;
      left: -40px - $light_comment;
      top: 0;
    }
    .says {
      display: none;
    }
    .edit-link{
      display: none;
    }
  }
  .children {
    padding-top: 25px;
    margin-top: 5px;
    list-style:none;
  }
}

.navigation {
  .nav-previous {
    float: left;
  }
  .nav-previous:before {
    content: "←";
  }
  .nav-next{
    float: right;
  }
  .nav-next:after{
    content:"→";
  }
}
